<div class="row">
    <div class="col-12 text-center">
        <h1>Get full account number and validate check digit</h1>
    </div>
</div>
<div class="row justify-content-center mt1">
    <div class="col-6">
        <form class="form text-center">
            <input class="form-control text-center" id="shortNumber" placeholder="Short account number" />
            <button class="btn btn-success mt1" id="process">Process</button>
        </form>
    </div>
</div>
<div class="row justify-content-center mt2">
    <div class="col-6 text-center">
        <h4>Result</h4>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-6 text-center">
        <label>Long account number:
            <input disabled class="form-control" id="longAccountNumber" />
        </label>
        <label>Check digit valid:
            <input disabled class="form-control" id="checkDigitValid" />
        </label>
    </div>
</div>
